<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'My Blog', controller: 'articles' %>
<div id="container" style="width: 600px; height: 400px"></div>
<p id="time">time</p>
<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            //alignTicks: false,
            type: 'spline',
            animation: Highcharts.svg, // don't animate in old IE
            marginRight: 10,
            events: {
                load: function () {

                    // set up the updating of the chart each second
		    var series = this.series[0];
                    setInterval(function () {
                        $.get('http://192.168.199.180:3000/livedata', function(data){
                              var second = (new Date()).getTime(); // current time
                              var x = second;
			      var y = data;
			      $("p#time").text("x: "+x + "   y: "+y);
                              series.addPoint([x, y], true, true);
                        });
                    }, 1000);
                }
            }
        },
        title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: true
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                }())
        }]
    });
});
</script>
