<html>
	<head>
	<meta content="authenticity_token" name="csrf-param" />
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        <script type="text/javascript">
            setInterval(function () {
                        $.ajax({ 
							type: "post", 
							url: "http://192.168.199.180:3000/articles", 
							data: {"title":"10", "text":"sadfa"}, 
							//contentType一定只能设置成以下格式，否则会有问题，具体原因请参考：http://blog.csdn.net/mhmyqn/article/details/25561535
							//contentType: "application/x-www-form-urlencoded", 
							//headers: { 'Access-Control-Allow-Origin': '*'},
							//dataType: "JSON", //尝试解决跨域问题
							success: function (responseData, status) { 
								// Play with response returned in JSON format 
								//msecondAfterRequest = (new Date()).getTime();
					
							}, 
							error: function (e) { 
				
							},
							complete: function(status){ 

				
							}
			});	
                    }, 1000);

		    $(document).ready(function(){
			    $("button").click(function(){
				  // $("p").css("background-color","red");
				  $("p").hide();
		        });
		});
	</script>
	</head>
	<body>
		<h2>Thisdsa s is a heading</h2>
		<p>This is paragraph.</p>
		<p>This is another paragraph.</p>
		<button type="button">Click me</button>
	</body>

</html>
